# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.venv

# Logs y temporales
*.log
*.tmp
*.bak

# Modelos y artefactos grandes
*.jpg

# Archivos generados por la app
placas_detectadas_log.xlsx
uploaded_plates.xlsx
static/last_detected.jpg

# Configs locales
.env
.env.*
*.vscode/
